
$primary-color: #e7600c;
$font-size-regular: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$line-height: normal;
$font-size-medium:40px;
$font-source:'Lato', sans-serif;
$font-size-title: 50px;
$font-size-medium: 40px;
$font-size-small: 16px;
$small: 767px;     